<section class="mw6 center pv4 ph2">
  <h1 class="mb4 fw4 tc">Editar perfil</h1>
  <form action="sign-up_submit" method="get" accept-charset="utf-8">
    <fieldset id="sign_up" class="ba b--transparent ph0 mh0">
      <div class="pv3 bb b--light-gray">
        <h2 class="f6 fw4 purple mv0 ttu">Información general</h2>
      </div>
      <div class="mv3">
        <label class="db fw4 lh-copy f6" for="company-name">Nombre</label>
        <input class="pa2 input-reset ba br2 b--light-gray bg-transparent w-100" type="text" name="company-name"  id="company-name">
      </div>
      <div class="mv3">
        <label class="db fw4 lh-copy f6" for="company-description">Descripción</label>
        <textarea name="company-description" id="company-description" class="pa2 input-reset ba br2 b--light-gray bg-transparent w-100" rows="3"></textarea>
      </div>
      <div class="mv3">
        <label class="db fw4 lh-copy f6" for="company-site">Sitio web</label>
        <input class="pa2 input-reset ba br2 b--light-gray bg-transparent w-100" type="text" name="company-site"  id="company-site">
      </div>
      <div class="mv3">
        <label class="db fw4 lh-copy f6" for="company-phone">Teléfono</label>
        <input class="pa2 input-reset ba br2 b--light-gray bg-transparent w-100" type="text" name="company-phone"  id="company-phone">
      </div>
      <div class="mv3">
        <label class="db fw4 lh-copy f6" for="company-email">Correo electrónico de contacto</label>
        <input class="pa2 input-reset ba br2 b--light-gray bg-transparent w-100" type="email" name="company-email"  id="company-email">
      </div>
    </fieldset>
    <fieldset id="sign_up" class="ba b--transparent ph0 mh0">
      <div class="pv3 bb b--light-gray">
        <h2 class="f6 fw4 purple mv0 ttu">Redes sociales</h2>
      </div>
      <div class="mv3">
        <label class="db fw4 lh-copy f6" for="url-facebook">Facebook</label>
        <input class="pa2 input-reset ba br2 b--light-gray bg-transparent w-100" type="text" name="url-facebook"  id="url-facebook">
      </div>
      <div class="mv3">
        <label class="db fw4 lh-copy f6" for="url-twitter">Twitter</label>
        <input class="pa2 input-reset ba br2 b--light-gray bg-transparent w-100" type="text" name="url-twitter"  id="url-twitter">
      </div>
      <div class="mv3">
        <label class="db fw4 lh-copy f6" for="url-instagram">Instagram</label>
        <input class="pa2 input-reset ba br2 b--light-gray bg-transparent w-100" type="text" name="url-instagram"  id="url-instagram">
      </div>
      <div class="mv3">
        <label class="db fw4 lh-copy f6" for="url-medium">Medium</label>
        <input class="pa2 input-reset ba br2 b--light-gray bg-transparent w-100" type="text" name="url-medium"  id="url-medium">
      </div>
      <div class="mv3">
        <label class="db fw4 lh-copy f6" for="url-linkedin">LinkedIn</label>
        <input class="pa2 input-reset ba br2 b--light-gray bg-transparent w-100" type="text" name="url-linkedin"  id="url-linkedin">
      </div>
      <div class="mv3">
        <label class="db fw4 lh-copy f6" for="url-behance">Behance</label>
        <input class="pa2 input-reset ba br2 b--light-gray bg-transparent w-100" type="text" name="url-behance"  id="url-behance">
      </div>
      <div class="mv3">
        <label class="db fw4 lh-copy f6" for="url-github">GitHub</label>
        <input class="pa2 input-reset ba br2 b--light-gray bg-transparent w-100" type="text" name="url-github"  id="url-github">
      </div>
      <div class="mv3">
        <label class="db fw4 lh-copy f6" for="url-pinterest">Pinterest</label>
        <input class="pa2 input-reset ba br2 b--light-gray bg-transparent w-100" type="text" name="url-pinterest"  id="url-pinterest">
      </div>
      <div class="mv3">
        <label class="db fw4 lh-copy f6" for="url-youtube">YouTube</label>
        <input class="pa2 input-reset ba br2 b--light-gray bg-transparent w-100" type="text" name="url-youtube"  id="url-youtube">
      </div>
      <div class="mv3">
        <label class="db fw4 lh-copy f6" for="url-google-plus">Google+</label>
        <input class="pa2 input-reset ba br2 b--light-gray bg-transparent w-100" type="text" name="url-google-plus"  id="url-google-plus">
      </div>
    </fieldset>
    <div class="mv3 tc">
      <input class="ph4 dim pointer pv2 input-reset br-pill ba b--purple bg-purple white" type="submit" value="Guardar">
    </div>
  </form>
</section>
