<% title 'Empresas' %>
<% description 'Vusqo te permite descubrir y conectar con las empresas que mueven la industria creativa en El Salvador.' %>

<section class="mw8 center pv3 ph2">
  <div class="pv3 ph2">
    <h2 class="f6 fw4 gray mv0 ttu">Empresas registradas</h2>
  </div>
</section>
<div class="mw8 center">
  <div class="cf">
    <% @entities.each do |entity| %>
    <div class="fl w-100 w-33-ns ph3 mb3">
      <div class="bg-white br2">
        <%= link_to entity_path(entity), class: "cf db black no-underline", title: entity.name do %>
          <%= cl_image_tag(entity.logo.full_public_id, :width=>75, :height=>75, :background=>"white", :crop=>"pad", class: "fl bg-white mw-100 h-auto dib ba b--light-gray br2 pa1 mr3 v-mid", alt: entity.name ) %>
          <h3 class="f5 fw6 mv0 pv2 truncate-m"><%= entity.name %></h3>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
</div>
