<section class="mw8 center pv3 ph2">
  <div class="pv3 ph2">
    <h2 class="f6 fw4 gray mv0 ttu">Empresas registradas</h2>
  </div>
  <div class="cf">
    <% @entities.each do |entity| %>
    <div class="fl w-50 w-20-m w-10-l pa2">
      <%= link_to entity_path(entity), class: "db link dim tc" do %>
        <img src="<%= entity.logo.url %>" class="w-100 db br2" />
        <dl class="mt2 f6 lh-copy">
          <dd class="ml0 black truncate w-100"><%= entity.name %></dd>
        </dl>
      <% end %>
    </div>
    <% end %>
  </div>
</section>
