<section class="mw8 center pv3">
  <div class="pv3 ph2">
    <h2 class="f6 fw4 gray mv0 ttu">Empresas registradas</h2>
  </div>
  <div class="cf">
    <div class="fl w-50 w-20-m w-10-l pa2">
      <a href="#" class="db link dim tc">
        <img src="https://logo.clearbit.com/yahoo.com" class="w-100 db br2" />
        <dl class="mt2 f6 lh-copy">
          <dd class="ml0 black truncate w-100">Yahoo</dd>
        </dl>
      </a>
    </div>
    <div class="fl w-50 w-20-m w-10-l pa2">
      <a href="#" class="db link dim tc">
        <img src="https://logo.clearbit.com/amazon.com" class="w-100 db br2" />
        <dl class="mt2 f6 lh-copy">
          <dd class="ml0 black truncate w-100">Amazon</dd>
        </dl>
      </a>
    </div>
    <div class="fl w-50 w-20-m w-10-l pa2">
      <a href="#" class="db link dim tc">
        <img src="https://logo.clearbit.com/facebook.com" class="w-100 db br2" />
        <dl class="mt2 f6 lh-copy">
          <dd class="ml0 black truncate w-100">Facebook</dd>
        </dl>
      </a>
    </div>
    <div class="fl w-50 w-20-m w-10-l pa2">
      <a href="#" class="db link dim tc">
        <img src="https://logo.clearbit.com/twitter.com" class="w-100 db br2" />
        <dl class="mt2 f6 lh-copy">
          <dd class="ml0 black truncate w-100">Twitter</dd>
        </dl>
      </a>
    </div>
    <div class="fl w-50 w-20-m w-10-l pa2">
      <a href="#" class="db link dim tc">
        <img src="https://logo.clearbit.com/netflix.com" class="w-100 db br2" />
        <dl class="mt2 f6 lh-copy">
          <dd class="ml0 black truncate w-100">Netflix</dd>
        </dl>
      </a>
    </div>
    <% @entities.each do |entity| %>
    <div class="fl w-50 w-20-m w-10-l pa2">
      <%= link_to entity_path(entity), class: "db link dim tc", target: "_blank" do %>
        <img src="<%= entity.logo.url %>" class="w-100 db br2" />
        <dl class="mt2 f6 lh-copy">
          <dd class="ml0 black truncate w-100"><%= entity.name %></dd>
        </dl>
      <% end %>
    </div>
    <% end %>
    <div class="fl w-50 w-20-m w-10-l pa2">
      <a href="#" class="db link dim tc">
        <img src="https://logo.clearbit.com/intel.com" class="w-100 db br2" />
        <dl class="mt2 f6 lh-copy">
          <dd class="ml0 black truncate w-100">Intel</dd>
        </dl>
      </a>
    </div>
    <div class="fl w-50 w-20-m w-10-l pa2">
      <a href="#" class="db link dim tc">
        <img src="https://logo.clearbit.com/adidas.com" class="w-100 db br2" />
        <dl class="mt2 f6 lh-copy">
          <dd class="ml0 black truncate w-100">Adidas</dd>
        </dl>
      </a>
    </div>
    <div class="fl w-50 w-20-m w-10-l pa2">
      <a href="#" class="db link dim tc">
        <img src="https://logo.clearbit.com/apple.com" class="w-100 db br2" />
        <dl class="mt2 f6 lh-copy">
          <dd class="ml0 black truncate w-100">Apple</dd>
        </dl>
      </a>
    </div>
    <div class="fl w-50 w-20-m w-10-l pa2">
      <a href="#" class="db link dim tc">
        <img src="https://logo.clearbit.com/github.com" class="w-100 db br2" />
        <dl class="mt2 f6 lh-copy">
          <dd class="ml0 black truncate w-100">Github</dd>
        </dl>
      </a>
    </div>
  </div>
</section>
