<section class="mw6 center pv4 ph2">
  <div class="mb4">
    <h1 class="fw4 tc">¿Olvidaste tu contraseña?</h1>
  </div>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, "data-parsley-validate": true, "novalidate": true }) do |f| %>
    <fieldset class="ba b--transparent ph0 mh0">
      <div class="mv3">
        <%= f.label :email, "Correo electrónico", class: "db fw4 lh-copy f6" %>
        <%= f.email_field :email, class: "pa2 input-reset ba br2 b--light-gray bg-transparent w-100", autofocus: true, required: true %>
      </div>
    </fieldset>
    <div class="mv3 tc">
      <input class="ph4 pv2 input-reset br-pill ba b--purple bg-purple white" type="submit" value="Recuperar contraseña">
    </div>
  <% end %>
</section>
