<footer class="bt b--light-gray ph3 pv3 mt3">
  <div class="mw8 ph2 center">
    <div class="cf">
      <div class="fl w-100 w-20-ns ph2 tc tl-ns">
        <p class="mv2">&copy; 2016 Vusqo</p>
      </div>
      <div class="fl w-100 w-60-ns ph2 tc">
        <ul class="list pl0 mv0">
          <li class="dib mh2">
            <%= link_to "Sobre nosotros", page_path('nosotros'), class: "link dim dib pv2" %>
          </li>
          <li class="dib mh2">
            <%= link_to "Política de Privacidad", page_path('privacidad'), class: "link dim dib pv2" %>
          </li>
        </ul>
      </div>
      <div class="fl w-100 w-20-ns ph2 tc tr-ns">
        <a href="<%= root_path %>" class="link dim">
          <%= image_tag("vusqo-logo.png", size: "30", class: "dib v-mid mv2 mv0-ns", alt: "Vusqo") %>
        </a>
      </div>
    </div>
  </div>
</footer>
