<footer class="bt b--light-gray pv3 mt3">
  <div class="mw8 center">
    <div class="cf">
      <div class="fl w-20 ph2">
        <p class="mv2">&copy; 2016 Vusqo</p>
      </div>
      <div class="fl w-60 ph2 tc">
        <ul class="list pl0 mv0">
          <li class="dib mh2">
            <a href="#" class="link dim dib pv2">Sobre el proyecto</a>
          </li>
          <li class="dib mh2">
            <a href="#" class="link dim dib pv2">Política de Privacidad</a>
          </li>
          <li class="dib mh2">
            <a href="#" class="link dim dib pv2">Términos de uso</a>
          </li>
        </ul>
      </div>
      <div class="fl w-20 ph2 tr">
        <a href="#" class="link dim">
          <%= image_tag("vusqo-logo.png", size: "30", class: "dib v-mid", alt: "Vusqo") %>
        </a>
      </div>
    </div>
  </div>
</footer>
