<header class="bb b--light-gray">
  <div class="mw8 center ph2">
    <div class="cf">
      <div class="fl pv3">
        <div class="dib v-mid mr4">
          <a href="#" class="db link dim">
            <%= image_tag("vusqo-logo.png", size: "30", class: "dib v-mid mr2", alt: "Vusqo") %>
            <span class="f4 b v-mid">vusqo</span>
          </a>
        </div>
        <!-- <div class="dib v-mid">
          <a href="#" class="link dim v-mid">Empresas</a>
        </div> -->
        <!-- <div class="dib v-mid mr3">
          <form action="">
            <input type="text" class="input-reset f6 ph3 ba b--light-gray w5 h2" placeholder="Buscar...">
          </form>
        </div> -->
      </div>
      <div class="fr">
        <!-- <ul class="list pl0 mv0">
          <li class="dib v-mid">
            <a href="#" class="link dim gray db pv3">Iniciar sesión</a>
          </li>
          <li class="dib v-mid">
            <a href="#" class="link dim purple b db pa3">
              <span class="v-mid mr1">¿Quieres registar una empresa?</span>
              <svg id="i-user" viewBox="0 0 32 32" width="30" height="30" class="dib v-mid br-100 ba" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="6.25%">
                  <path d="M22 11 C22 16 19 20 16 20 13 20 10 16 10 11 10 6 12 3 16 3 20 3 22 6 22 11 Z M4 30 L28 30 C28 21 22 20 16 20 10 20 4 21 4 30 Z" />
              </svg>
            </a>
          </li>
        </ul> -->
        <ul class="list pl0 mv0">
          <li class="relative">
            <a href="#" class="link dim gray db pv3" id="profile-menu-link">
              <span class="v-mid mr1">Hola, <span class="dn dib-ns purple">Yahoo</span></span>
              <img src="https://logo.clearbit.com/yahoo.com" width="30" height="30" class="dib v-mid br-100" alt="Logo">
            </a>
            <ul class="list bg-white pl0 mv0 absolute ba b--light-gray tr w5 right-0 dn" id="profile-menu">
              <li>
                <a href="#" class="link dim gray db pa3">Mi perfil</a>
              </li>
              <li>
                <a href="#" class="link dim gray db pa3">Configuraciones</a>
              </li>
              <li>
                <a href="#" class="link dim gray db pa3">Cerrar sesión</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
