<div class="pv3 bb b--light-gray">
  <div class="mw8 center ph2 tc">
    <a href="#" class="link dim purple mr3">Enviar invitaciones</a>
    <a href="#" class="link dim purple">Administrar empresas</a>
  </div>
</div>
<section class="mw8 center pv4 ph2">
  <div class="mb4">
    <h1 class="fw4">Administrar empresas</h1>
  </div>
  <table class="collapse striped--light-gray w-100">
  	<thead class="tl">
    	<tr>
    		<th class="pv3 w-50">Empresa</th>
    		<th class="pv3 w-30">Fecha de registro</th>
    		<th class="pv3 w-20">Estado</th>
    	</tr>
  	</thead>
  	<tbody>
    	<tr class="striped--light-gray">
    		<td class="pv2 w-50">
          <a href="#" class="link dim gray dib ph2">
            <img src="https://logo.clearbit.com/google.com" width="30" height="30" class="dib v-mid br-100 mr1" alt="Logo">
            <span class="v-mid">Google</span>
          </a>
    		</td>
    		<td class="pv2 w-30">25/12/2016 8:00:00</td>
    		<td class="pv2 w-20">Activo</td>
    	</tr>
    	<tr class="striped--light-gray">
    		<td class="pv2 w-50">
          <a href="#" class="link dim gray dib ph2">
            <img src="https://logo.clearbit.com/yahoo.com" width="30" height="30" class="dib v-mid br-100 mr1" alt="Logo">
            <span class="v-mid">Yahoo</span>
          </a>
    		</td>
    		<td class="pv2 w-30">18/03/2016 18:00:00</td>
    		<td class="pv2 w-20">Activo</td>
    	</tr>
    	<tr class="striped--light-gray">
    		<td class="pv2 w-50">
          <a href="#" class="link dim gray dib ph2">
            <img src="https://logo.clearbit.com/facebook.com" width="30" height="30" class="dib v-mid br-100 mr1" alt="Logo">
            <span class="v-mid">Facebook</span>
          </a>
    		</td>
    		<td class="pv2 w-30">18/03/2016 18:00:00</td>
    		<td class="pv2 w-20">Activo</td>
    	</tr>
  	</tbody>
  </table>
</section>
