<section class="mw6 center pv4 ph2">
  <div class="mb4">
    <h1 class="fw4 tc">Iniciar sesión</h1>
    <p class="f6 mv0 tc">¿No tienes una cuenta? <a href="#" class="link dim">Registrate tu empresa aquí.</a></p>
  </div>
  <form action="sign-up_submit" method="get" accept-charset="utf-8">
    <fieldset id="sign_up" class="ba b--transparent ph0 mh0">
      <div class="mv3">
        <label class="db fw4 lh-copy f6" for="email-address">Correo electrónico</label>
        <input class="pa2 input-reset ba br2 b--light-gray bg-transparent w-100" type="email" name="email-address"  id="email-address">
      </div>
      <div class="mv3">
        <label class="db fw4 lh-copy f6" for="password">Contraseña</label>
        <input class="b pa2 input-reset ba br2 b--light-gray bg-transparent w-100" type="password" name="password"  id="password">
      </div>
    </fieldset>
    <div class="mv3 tc">
      <input class="ph4 pv2 input-reset br-pill ba b--purple bg-purple white" type="submit" value="Iniciar sesión">
    </div>
  </form>
  <div class="pt4 tc">
    <a href="#" class="f6 link dim db">¿Olvidaste tu contraseña? Click aquí.</a>
  </div>
</section>
