<% title 'Sobre nosotros' %>
<% description 'Nuestra plataforma permite descubrir y conectar con las empresas y personas que mueven la industria creativa en El Salvador.' %>

<div class="mw8 center pv3 pv5-ns ph3">
  <h1 class="f2 f-headline-ns lh-solid mv0">Queremos reunir a todo el talento creativo <br class="dn dib-ns"> de El Salvador <br class="dn dib-ns"> en un solo lugar.</h1>
</div>
<section class="mw7 center pv4 ph3">
  <p>Vusqo (antes Made in El Salvador) es una iniciativa que busca promover empresas, personas e instituciones dedicadas al desarrollo de tecnología, diseño y creatividad en El Salvador.</p>
  <p>Nuestra meta es brindar información y herramientas que permitan a nuestros usuarios descubrir y conectar con las empresas y personas que mueven la industria creativa en El Salvador.</p>
</section>
