<section class="mw7 center pv4 ph2">
  <h1 class="mb4 fw4 tc">Política de Privacidad</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis odit, vel sunt dolores inventore quos iusto nostrum assumenda eaque ea voluptatibus id debitis fugit. Sed sequi est libero quis ut! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id debitis repellat, sit! Illum velit adipisci ullam tenetur ipsum, minima iusto placeat iure! Sapiente minus quis voluptatum autem deleniti obcaecati quidem.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore neque nesciunt, labore nostrum recusandae id, perspiciatis eum nobis facilis. Perferendis aspernatur dolore recusandae dicta fugiat repellat nemo impedit, repudiandae ullam!</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos et necessitatibus debitis laboriosam vel optio expedita quas, dolorum odio possimus, dicta ab deleniti modi dolores distinctio ipsum repellendus iste harum!</p>
</section>
