<section class="mw6 center pv4 ph2">
  <h1 class="mb4 fw4 tc">Reportar una empresa</h1>
  <p class="v3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime quod nihil, inventore commodi placeat quam ullam, quos esse possimus deserunt culpa error aliquam id reprehenderit minima unde sint. Illo, odit.</p>
  <form action="sign-up_submit" method="get" accept-charset="utf-8" data-parsley-validate novalidate>
    <fieldset id="sign_up" class="ba b--transparent ph0 mh0">
      <div class="mv3">
        <label class="db fw4 lh-copy f6" for="report-company">Nombre de la empresa a reportar</label>
        <input class="pa2 input-reset ba br2 b--light-gray bg-transparent w-100 measure" type="email" name="report-company"  id="report-company" required>
      </div>
      <div class="mv3">
        <label class="db fw4 lh-copy f6" for="apply-email">Correo electrónico</label>
        <input class="pa2 input-reset ba br2 b--light-gray bg-transparent w-100 measure" type="email" name="apply-email"  id="apply-email" required>
        <span class="f6 black-50 fw1">Nos pondremos en contacto contigo para comunicarte el resultado del reporte.</span>
      </div>
    </fieldset>
    <div class="mv3 tc">
      <input class="ph4 pv2 input-reset br-pill ba b--purple bg-purple white" type="submit" value="Enviar">
    </div>
  </form>
</section>
